.blog-container {
  width: 1028px;
  margin: 0 auto;
  background-color: $body-bg;
}

.blog-title {
 color: $hot-pink;
 font-weight: 800;
 font-family: 'Dosis', sans-serif;
 font-size: 60px;
 letter-spacing: 2px;
 display: flex;
 @media screen and (max-width: 480px) {
   font-size: 40px;
 }
}

.nav-menu {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  font-family: 'Fira Sans', sans-serif;
  @media screen and (max-width: 480px) {
      @include grid-column(3);
      flex-direction: column;
      margin-top: 2px;
  }

  &__item {
    text-decoration: none;
    color: $text-color;
    text-transform: capitalize;
    &:hover {
      border-bottom: 5px solid $title-underline ;
    }
  }
}

.profile-container {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    @include grid-column(10);

    @media screen and (max-width: 480px) {
      width: 100%;
      font-size: 20px;
      margin:0;
    }
}